---
---

@font-face {
  font-family: Futura_FT;
  font-weight: 200;
  font-style: normal;
  src: url(Futura_PT/FuturaPTLight.otf);
}

@font-face {
  font-family: Futura_FT;
  font-weight: 200;
  font-style: italic;
  src: url(Futura_PT/FuturaPTLightOblique.otf);
}

@font-face {
  font-family: Futura_FT;
  font-weight: 300;
  font-style: normal;
  src: url(Futura_PT/FuturaPTBook.otf);
}

@font-face {
  font-family: Futura_FT;
  font-weight: 300;
  font-style: italic;
  src: url(Futura_PT/FuturaPTBookOblique.otf);
}

@font-face {
  font-family: Futura_FT;
  font-weight: 400;
  font-style: normal;
  src: url(Futura_PT/FuturaPTMedium.otf);
}

@font-face {
  font-family: Futura_FT;
  font-weight: 400;
  font-style: italic;
  src: url(Futura_PT/FuturaPTMediumOblique.otf);
}

@font-face {
  font-family: Futura_FT;
  font-weight: 600;
  font-style: normal;
  src: url(Futura_PT/FuturaPTHeavy.otf);
}

@font-face {
  font-family: Futura_FT;
  font-weight: 600;
  font-style: italic;
  src: url(Futura_PT/FuturaPTHeavyOblique.otf);
}
