---
---

@import 'constants';
@import 'font.css';

html, body {
  margin: 0;
  padding: 0;
  font-family: Futura_FT;
}

.top-bar {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 16px;

  .main-title {
    text-transform: uppercase;
    letter-spacing: 5px;
    a {
      text-decoration: none;
    }
  }

  .menu-open {
    display: block;
    cursor: pointer;
    @include media-query(DESKTOP) {
      display: none;
    }
  }

  .menu-container {
    display: none;
    @include media-query(DESKTOP) {
      display: block;
    }
  }

  .invisible-padding {
    user-select: none;
    visibility: hidden;
  }
}

.mobile-menu {
  width: 100%;
  position: absolute;
  top: 0;
  left: -100vw;
  min-height: 200px;
  background-color: #fff;
  transition: left 0.8s ease-in-out;

  .menu-close {
    cursor: pointer;
    position: absolute;
    top: 16px;
    right: 16px;
  }
}

.mobile-menu-hidden {
  left: -100vw;
}

.mobile-menu-shown {
  left: 0;
}

.menu-content {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;

  @include media-query(DESKTOP) {
    flex-direction: row;
    flex-wrap: nowrap;
  }

  li {
    list-style: none;
    padding: 24px 24px 0;

    @include media-query(DESKTOP) {
      padding: 0 10px;
    }
    a {
      text-decoration: none;
    }
  }
}
