---
---

@import 'constants';
@import 'font.css';

html, body {
  margin: 0;
  padding: 0;
  font-family: Futura_FT;
  font-size: 14px;
  @include media-query(DESKTOP) {
    font-size: 16px;
  }
}

body {
  background-image: url('{{ site.baseurl }}/media/assets/background.png');
}

a {
  color: inherit;
  &:visited {
    color: inherit;
  }
}

.top-bar {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 24px;

  @include media-query(DESKTOP) {
    padding: 20px 2.5%;
  }

  .main-title {
    font-size: 14px;
    font-style: normal;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .6em;
    line-height: 1em;

    color: $TEXT-COLOR;

    @include media-query(DESKTOP) {
      font-size: 16px;
    }

    a {
      display: block;
      width: 220px;
      padding-bottom: 25%;
      background-image: url('{{ site.baseurl }}/media/assets/logo.png');
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      text-decoration: none;
      color: $TEXT-COLOR;
      &:visited {
        color: $TEXT-COLOR;
      }

      @include media-query(DESKTOP) {
        width: 250px;
      }
    }
  }

  .menu-open {
    display: block;
    cursor: pointer;
    font-size: 24px;
    font-weight: 100;
    @include media-query(DESKTOP) {
      display: none;
    }
  }

  .menu-container {
    display: none;
    @include media-query(DESKTOP) {
      display: block;
    }
  }

  .invisible-padding {
    user-select: none;
    visibility: hidden;
    overflow: hidden;
  }
}

.mobile-menu {
  width: 100%;
  position: absolute;
  top: 0;
  left: -100vw;
  min-height: 200px;
  background-color: #fff;
  transition: left 0.8s ease-in-out;

  .mobile-menu-content-container {
    padding-bottom: 24px;
  }

  .menu-close {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 24px;
    font-weight: 100;
    padding: 16px;
    color: $TEXT-COLOR;
    transition: color $TRANSITION-PERIOD linear;

    &:hover {
      color: $TEXT-COLOR-HOVER;
    }
  }
}

.mobile-menu-hidden {
  left: -100vw;
}

.mobile-menu-shown {
  left: 0;
}

.menu-content {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;

  @include media-query(DESKTOP) {
    flex-direction: row;
    flex-wrap: nowrap;
  }

  li {
    list-style: none;
    padding: 24px 24px 0;
    font-size: 36px;
    font-weight: 200;
    letter-spacing: 0;
    line-height: 1em;
    text-transform: capitalize;

    @include media-query(DESKTOP) {
      padding: 0 10px;
      font-size: 12px;
      font-weight: 400;
      letter-spacing: .25em;
      line-height: 1em;
      text-transform: uppercase;
    }

    a {
      text-decoration: none;
      color: $TEXT-COLOR;
      transition: color $TRANSITION-PERIOD linear;

      &:visited {
        color: $TEXT-COLOR;
      }
      &:hover {
        color: $TEXT-COLOR-HOVER;
      }
    }
  }
}

.parallax-container {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #fff;

  .parallax-tint {
    padding: 40% 8%;
    background: rgba(0, 0, 0, .333);

    @include media-query(DESKTOP) {
      padding: 12% 8%;
    }

    .parallax-title {
      text-transform: uppercase;
      font-size: 48px;
      font-weight: 600;

      @include media-query(DESKTOP) {
        letter-spacing: .1em;
        font-size: 80px;
        line-height: 1em;
      }
    }

    .parallax-subtitle {
      font-size: 32px;
      line-height: 2em;
      font-weight: 100;
      @include media-query(DESKTOP) {
        line-height: 5em;
      }
    }
  }
}

.forty-sixty {
  width: 100%;
  padding: 0 16px;
  margin: 64px 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  @include media-query(DESKTOP) {
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 0 64px;
    margin: 128px 0;
    overflow: hidden;
  }

  h1 {
    margin: 0 0 64px;
    font-size: 32px;
    font-weight: 600;
    line-height: 1em;
    letter-spacing: .1em;

    @include media-query(DESKTOP) {
      font-size: 80px;
    }
  }

  h2 {
    margin: 25px 0;
    font-size: 25px;
    font-weight: 600;
    line-height: 1.333em;
    letter-spacing: .1em;

    @include media-query(DESKTOP) {
      font-size: 30px;
    }
  }

  h4 {
    margin: 0;
    font-size: 25px;
    font-weight: 200;
    line-height: 2em;
    letter-spacing: .2em;

    @include media-query(DESKTOP) {
      font-size: 30px;
    }
  }

  p {
    color: $TEXT-COLOR-LIGHT;
    margin: 25px 0;
    font-size: 25px;
    font-weight: 300;
    line-height: 1.1em;
  }

  .forty {
    width: 100%;
    padding: 0 16px;
    padding-bottom: 80px;
    box-sizing: border-box;
    text-align: center;
    @include media-query(DESKTOP) {
      width: 40%;
    }
  }
  .sixty {
    width: 100%;
    padding: 0 16px;
    box-sizing: border-box;
    @include media-query(DESKTOP) {
      width: 60%;
    }
  }
}

.footer {
  padding: 64px 16px;
  background-color: #ccc;
  text-align: center;

  .footer-title {
    margin: 0 auto;
    max-width: 500px;
    font-size: 28px;
    font-weight: 600;
    line-height: 1.3em;
  }

  .footer-text {
    margin: 0 auto;
    max-width: 500px;
    padding: 24px;
    font-size: 25px;
    font-weight: 200;
    line-height: 1.1em;
  }
}

.some-icons {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;

  .icon-item {
    color: $TEXT-COLOR;
    transition: color $TRANSITION-PERIOD linear;
    padding: 0 8px;

    &:visited {
      color: $TEXT-COLOR;
    }
    &:hover {
      color: $TEXT-COLOR-HOVER;
    }

    i {
      font-size: 25px;
    }
  }
}

.pilares-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 64px 0;

  @include media-query(DESKTOP) {
    flex-wrap: nowrap;
  }

  .pilar {
    width: 95%;
    padding: 0 24px;
    box-sizing: border-box;
    text-align: center;
    color: $TEXT-COLOR-HOVER;

    font-size: 25px;
    margin-bottom: 64px;

    @include media-query(DESKTOP) {
      width: 23%;
      margin-bottom: 0;
    }

    .pilar-image {
      i {
        font-size: 128px;
        color: #6c3b18;
      }
    }

    .pilar-title {
      font-weight: 600;
      text-align: center;
      margin: 25px auto 25px;
      width: 75%;

      @include media-query(DESKTOP) {
        width: 100%;
        margin: 50px auto 25px;
        text-align: left;
      }
    }

    .pilar-text {
      line-height: 1.2em;
      font-weight: 300;
      text-align: center;
      width: 75%;
      margin: 0 auto;

      @include media-query(DESKTOP) {
        width: 100%;
        text-align: left;
      }
    }
  }
}

.button-sq {
  margin: 48px auto;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.2em;

  a {
    text-decoration: none;
    text-align: center;
    padding: 16px 32px;
    border: 2px $TEXT-COLOR solid;
    transition: all $TRANSITION-PERIOD linear;
    color: $TEXT-COLOR;
    background-color: #fff;

    &:visited {
      color: inherit;
    }
    &:hover {
      background-color: $TEXT-COLOR;
      color: #fff;
    }
  }
}

.video-player-container {
  width: 100%;
  padding: 0 16px;
  box-sizing: border-box;

  @include media-query(DESKTOP) {
    padding: 0 64px;
  }

  .video-player-title {
    text-align: center;
    font-size: 28px;
    font-weight: 600;
    line-height: 1.3em;
    max-width: 720px;
    margin: 0 auto;
    padding: 32px 0;

    @include media-query(DESKTOP) {
      font-size: 28px;
      letter-spacing: 0.13em;
    }
  }

  .video-player {
    width: 100%;
    padding: 0 16px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    @include media-query(DESKTOP) {
      padding: 0 64px;
      flex-direction: row;
    }

    .video-player-player {
      width: 100%;
      padding-right: 0;

      @include media-query(DESKTOP) {
        width: 80%;
        padding-right: 8px;
      }
    }

    .video-player-menu {
      width: 100%;
      box-sizing: border-box;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: nowrap;

      @include media-query(DESKTOP) {
        width: 20%;
        flex-direction: column;
        justify-content: space-around;
      }

      .video-player-menu-option {
        width: 31%;
        cursor: pointer;

        @include media-query(DESKTOP) {
          width: 100%;
        }

        .video-player-menu-option-image {
          padding: 16% 0;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
          display: flex;
          justify-content: center;

          i {
            color: #fff;
            font-size: 20px;
            border-radius: 20%;
            padding: 10px 20px;
            background-color: rgba(0, 0, 0, .5);
            transition: all $TRANSITION-PERIOD linear;
          }
        }

        &:hover {
          .video-player-menu-option-image {
            i {
              color: $TEXT-COLOR;
              background-color: #fff;
            }
          }
        }
      }
    }
  }
}

.video-wrapper-16x9 {
  padding-bottom: 56.25%;
}

.video-wrapper-4x3 {
  padding-bottom: 75%;
}

.video-wrapper-wrapper {
  margin: 1rem auto;
  width: 100%;
  padding: 0 16px;
  box-sizing: border-box;

  @include media-query(DESKTOP) {
    padding: 0 64px;
  }
}

.video-wrapper {
  position: relative;
  margin: 1rem auto;
  height: 0;
  overflow: hidden;

  iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.list-container, .post-container {
  width: 100%;
  padding: 0 16px;
  box-sizing: border-box;

  @include media-query(DESKTOP) {
    padding: 0 128px;
  }
}

.list-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  box-sizing: border-box;
  padding-bottom: 64px;

  @include media-query(DESKTOP) {
    flex-direction: row;
  }

  .list-item-container {
    width: 100%;
    box-sizing: border-box;
    padding: 16px;

    @include media-query(DESKTOP) {
      width: 33%;
    }

    .list-item {
      display: block;
      width: 100%;
      box-sizing: border-box;
      padding: 33% 16px;
      background-color: #ccc;

      text-align: center;
      text-transform: uppercase;
      text-decoration: none;
      font-size: 18px;

      transition: all $TRANSITION-PERIOD linear;

      &:hover {
        background-color: #eee;
      }
    }
  }

  .list-item-container-33 {
    @include media-query(DESKTOP) {
      width: 33%;
    }
  }
  .list-item-container-25 {
    @include media-query(DESKTOP) {
      width: 25%;
    }
  }
  .list-item-container-50 {
    @include media-query(DESKTOP) {
      width: 50%;
    }
  }
}
