---
layout: index
title: Fernanda Tosta
permalink: /
---
{% include parallax.html
   image="index.jpg"
   title="Eu acredito que todo mundo é capaz de"
   subtitle=""
   interactive=true %}

<section class="forty-sixty">
  <div class="forty">
    <h4>com</h4>
    <h4><b>AUTONOMIA</b></h4>
    <h4><b>RESPONSABILIDADE</b></h4>
    <h4><b>COLABORAÇÃO</b></h4>
  </div>

  <div class="sixty">
    <h1>Cursos que desenvolvem habilidades para a vida</h1>
    <p>Através da marcenaria, busco promover a transformação social. Conseguir imaginar um objeto e projetá-lo é algo poderoso. É realizar o que se sonha com autonomia. Uma experiência de protagonismo da própria vida com o potencial de desbloquear a capacidade que vive dentro de cada um.</p>
    <h2>Habilidades Técnicas + Habilidades Socioemocionais.</h2>
    <p>Colocando as pessoas em contato com elas mesmas e com os outros durante os cursos, são trabalhadas práticas sociais, de relacionamento e de comunicação. Além de aprender a trabalhar com a madeira, os participantes aprendem a lidar com o grupo e consigo.</p>
  </div>
</section>

<section class="video-player-container">
  <div class="video-player-title">Confira os vídeos sobre os cursos de marcenaria para jovens e adultos:</div>

  <div class="video-wrapper-wrapper">
    <div class="video-wrapper video-wrapper-16x9">
      <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/yryKYclx5v8" frameborder="0" allow="autoplay; encrypted-media;" allowfullscreen></iframe>
    </div>
  </div>

  {% include video-player.html videos=site.data.videos-tomie %}

</section>

{% include parallax.html
   image="aula00.jpg"
   title="marcenaria para todos" %}

<section class="forty-sixty">
  <div class="forty"></div>

  <div class="sixty">
    <h1>Acolhendo características únicas</h1>
    <p>Os cursos são desenvolvidos considerando as necessidades especiais de cada indivíduo. Cada detalhe, do programa ao espaço, é pensado para criar um campo favorável onde transformações possam acontecer.</p>
    <h2>As pessoas só precisam de espaço para florescer. Elas já tem o potencial que precisam dentro delas.</h2>
    <p>Os cursos oferecem oportunidade e liberdade para o despertar criativo. Estabelecendo relações de confiança, as particularidades de cada um são respeitadas.</p>
    <p>Este método pode ser adequada para qualquer tipo de público, já tendo desenvolvido diversos cursos para os seguintes públicos:</p>
  </div>
</section>

{% include button.html text="conheça o método" link="metodo" %}

<section class="mailchimp-container">
  <!-- Begin Mailchimp Signup Form -->
  <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
  <div id="mc_embed_signup">
  <form action="https://fernandatosta.us17.list-manage.com/subscribe/post?u=6bf71d7ba969521cb998aea66&amp;id=801f8b79da" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
      <div id="mc_embed_signup_scroll">
      <h2>Se inscreva na minha newsletter para saber mais sobre cursos e atividades relacionadas à marcenaria, design e educação</h2>
      <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
      <div class="mc-field-group">
          <label for="mce-EMAIL">Email <span class="asterisk">*</span></label>
          <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
      </div>
      <div class="mc-field-group">
          <label for="mce-FNAME">Nome </label>
          <input type="text" value="" name="FNAME" class="" id="mce-FNAME">
      </div>

      <div id="mce-responses" class="clear">
          <div class="response" id="mce-error-response" style="display:none"></div>
          <div class="response" id="mce-success-response" style="display:none"></div>
      </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
      <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_6bf71d7ba969521cb998aea66_801f8b79da" tabindex="-1" value=""></div>
      <div class="clear"><input type="submit" value="Increva-se" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
      </div>
  </form>
  </div>
</section>
<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
<script src="{{ site.baseurl }}/js/mailchimp.js"></script>
<!--End mc_embed_signup-->
