---
layout: index
title: Fernanda Tosta
permalink: /
---
{% include parallax.html
   image="cover.jpg"
   title="Eu acredito que todo mundo é capaz de"
   subtitle="" %}

<section class="forty-sixty">
  <div class="forty">
    <h4>com</h4>
    <h4><b>AUTONOMIA</b></h4>
    <h4><b>RESPONSABILIDADE</b></h4>
    <h4><b>COLABORAÇÃO</b></h4>
  </div>

  <div class="sixty">
    <h1>Cursos que desenvolvem habilidades para a vida</h1>
    <p>Através da marcenaria, busco promover a transformação social. Conseguir imaginar um objeto e projetá-lo é algo poderoso. É realizar o que se sonha com autonomia. Uma experiência de protagonismo da própria vida com o potencial de desbloquear a capacidade que vive dentro de cada um.</p>
    <h2>Habilidades Técnicas + Habilidades Emocionais.</h2>
    <p>Colocando as pessoas em contato com elas mesmas e com os outros durante os cursos, são trabalhadas práticas sociais, de relacionamento e de comunicação. Além de aprender a trabalhar com a madeira, os participantes aprendem a lidar com o grupo e consigo.</p>
  </div>
</section>

{% include parallax.html
   image="aula00.jpg"
   title="marcenaria para todos" %}

<section class="forty-sixty">
  <div class="forty"></div>

  <div class="sixty">
    <h1>Acolhendo características únicas</h1>
    <p>Os cursos são desenvolvidos considerando as necessidades especiais de cada indivíduo. Cada detalhe, do programa ao espaço, é pensado para criar um campo favorável onde transformações possam acontecer.</p>
    <h2>As pessoas só precisam de espaço para florescer. Elas já tem o potencial que precisam dentro delas.</h2>
    <p>Os cursos oferecem oportunidade e liberdade para o despertar criativo. Estabelecendo relações de confiança, as particularidades de cada um são respeitadas.</p>
    <p>Este método pode ser adequada para qualquer tipo de público, já tendo desenvolvido diversos cursos para os seguintes públicos:</p>
  </div>
</section>

<section class="video-player-container">
  <div class="video-player-title">Confira os vídeos sobre os cursos de marcenaria para jovens e adultos:</div>

  <div class="video-wrapper-wrapper">
    <div class="video-wrapper video-wrapper-16x9">
      <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/dq9vQD83taU" frameborder="0" allow="autoplay; encrypted-media; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>

  {% include video-player.html videos=site.data.videos-tomie %}

</section>

{% include button.html text="conheça o método" link="metodo" %}
