---
layout: index
title: 'Método'
permalink: /metodo/
menu: true
---
{% include parallax.html
   image="aula01.jpg"
   title="Aprendizado baseado em projetos"
   subtitle="Marcenaria sociocriativa" %}

<section class="forty-sixty">
  <div class="forty"></div>

  <div class="sixty">
    <h1>Projetos que impulsionam</h1>

    <p>Criar com a madeira possibilita experimentação, descoberta de novas possibilidades, segurança de si, busca por aperfeiçoamento e aceitação das frustrações. Para conduzir os participantes por estas etapas, uma metodologia única foi desenvolvida ao longo do tempo, com a experiência das turmas realizadas nos últimos anos e inspirada por estudos em <a href="https://www.bie.org/about/what_pbl" target="_blank"><i>Project Based Learning</i></a>.</p>

    <h2>O aprendizado prático é melhor absorvido quando é desafiador, empoderador e divertido.</h2>

    <p>O desenvolvimento pessoal se concretiza durante a busca por responder a uma pergunta, ou desafio autêntico. Os cursos se iniciam com a apresentação de um problema envolvente e complexo, oferecendo ferramentas, oportunidade e apoio para a sua resolução. Ao final, celebramos juntos os resultados atingidos. A lógica de gamificação está presente na metodologia, reforçada pelos seguintes pilares:</p>
  </div>
</section>

<section class="pilares-container">
  <div class="pilar">
    <div class="pilar-image"><i class="fa fa-handshake-o"></i></div>
    <div class="pilar-title">Acordos Coletivos</div>
    <div class="pilar-text">
      Todo encontro se inicia estabelecendo em conjunto as regras que vão nos ajudar a ter uma boa prática conjunta, acordadas por todos.
    </div>
  </div>

  <div class="pilar">
    <div class="pilar-image"><i class="fa fa-wrench"></i></div>
    <div class="pilar-title">Oportunidades</div>
    <div class="pilar-text">
      São os desafios ou questões que vamos resolver ao longo da jornada da oficina, que pode ser desde uma necessidade pessoal até uma necessidade urbana.
    </div>
  </div>

  <div class="pilar">
    <div class="pilar-image"><i class="fa fa-heart-o"></i></div>
    <div class="pilar-title">Apoio</div>
    <div class="pilar-text">
      O aluno sabe que pode arriscar e se sente mais confortável para errar tendo alguém que o acompanha durante o aprendizado. Facilitar sem entregar o jogo.
    </div>
  </div>

  <div class="pilar">
    <div class="pilar-image"><i class="fa fa-thumbs-up"></i></div>
    <div class="pilar-title">Reconhecimento</div>
    <div class="pilar-text">
      Durante o fechamento onde fazemos feedbacks e autoavaliação podemos refletir e perceber como mudamos após a experiência. Quais transformações obtivemos a partir das ações que tivemos.
    </div>
  </div>
</section>

{% include parallax.html
   image="casa00.jpg"
   title="Fazer transforma" %}

<section class="forty-sixty">
  <div class="forty"></div>

  <div class="sixty">
    <h1>Objetos com propósito</h1>

    <p>As peças trabalhadas nos cursos são funcionais. Desde caixas de ferramentas e organizadores pessoais a bancos e mesas que propiciam interação social, todos são úteis.</p>

    <h2>Objetos que melhoraram a vida cotidiana num nível individual e coletivo.</h2>

    <p>O nível de dificuldade na confecção das peças é adequado ao formato do curso. Peças mais simples são propostas para grupos que estão iniciando na marcenaria ou mais complexas quando o objetivo é desafiar o aprimoramento de habilidades.</p>

    <p>É através do processo de fazer as peças propostas que as pessoas entendem e vivenciam o processo. As etapas de confecção da peça são pensadas para impulsionar o desenvolvimento pessoal de habilidades técnicas e sociais.</p>

    <p>Os participantes podem customizar os projetos e desenvolver algo que atenda suas necessidades únicas ou as do grupo. Todos fazem a mesma peça, mas cada um com seu jeitinho. Os objetos desenvolvidos podem ser de uso individual (banquinhos) ou coletivo (bancos de mobiliário urbano) e as dinâmicas de trabalho são propostas para intercalar momentos de criação indiviual com coletiva.</p>
  </div>
</section>
