---
layout: index
title: 'Sobre'
permalink: /sobre/
menu: true
---
{% include parallax.html
   image="fernanda.jpg"
   title="Sobre"
   subtitle="  " %}

<section class="forty-sixty">
  <div class="forty"></div>

  <div class="sixty">
    <h1>Adoro ensinar o que sei fazer</h1>

    <p>Sou educadora e designer de produtos e percursos.</p>

    <p>Desenvolvo oficinas onde através da marcenaria, busco promover a transformação social, focando no protagonismo individual de cada participante unindo comunicação empática e processos de criação colaborativa por meio da aprendizagem por projetos.</p>

    <p>Dedico a aprender e ensinar o ofício da marcenaria desde 2013 tendo feito diversos projetos de móveis e produtos usando de técnicas tradicionais à fabricação digital na execução de minhas criações.</p>

    <p>Minha formação em Design Generalista e Pós Graduação em Gestão do Design proporcionou o contato com ferramentas que me auxiliam a criar experiências de ensino inovadoras, aplicando metodologias como design-thinking e prototipagem, para que o fazer seja parte do aprendizado.</p>

    <p>Acredito no poder da colaboração para a solução de problemas reais e por isso colaborei em inúmeros mutirões além de ter orientado grupos multidisciplinares em projetos como o <a href="https://www.saopaulolab.cc/hackaton-paulista/" target="_blank">Hackathon Paulista</a> (2015), <a href="https://casaforade.casa/home/" target="_blank">Casa Fora de Casa</a> (2017-2018) e <a href="https://silo.org.br/interactivos/" target="_blank">Interactivos</a> (2016-2018).</p>

    <p>Faço parte da associação <a href="https://silo.org.br/" target="_blank">Silo – Arte e Latitude Rural</a> com orientação de projetos culturais na Serrinha do Alambari - RJ e também ensino e aprendo com jovens surdos e ouvintes no projeto socioeducativo de marcenaria no <a href="https://www.institutotomieohtake.org.br/" target="_blank">Instituto Tomie Ohtake</a> (2016-2018).</p>

    <p>Pesquiso metodologias de ensino, abordagens de aprendizagem experiencial em processos artísticos e também o impacto do mobiliário urbano nos espaços públicos. Tenho trabalhado com diversos coletivos, organizações, empresas e projetos criados por mim ou em parcerias com diferentes atuações.</p>
  </div>
</section>

{% include parallax.html
   image="casa01.jpg"
   title="Juntas fazemos mais" %}
