<div class="video-player">
  {% assign video = include.videos.first %}
  <div class="video-player-player" data-id="{{ video.id }}" data-cover="{{ video.cover }}" data-title="{{ video.title }}">
    <div class="video-wrapper video-wrapper-16x9">
      <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/{{ video.id }}?autoplay=0" frameborder="0" allow="autoplay; encrypted-media; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>

  <div class="video-player-menu">
    {% for video in include.videos %}
      {% unless forloop.first %}
        <div class="video-player-menu-option" data-id="{{ video.id }}" data-cover="{{ video.cover }}" data-title="{{ video.title }}">
          <div class="video-player-menu-option-image" style="background-image: url('{{ site.baseurl }}{{ video.cover }}');">
            <i class="fa fa-play"></i>
          </div>
          <div class="video-player-menu-option-text">{{ video.title }}</div>
        </div>
      {% endunless %}
    {% endfor %}
  </div>
</div>
